<div class="icecream">
    <form action="">
        <p>Keuze:</p>
        <input type="radio" name="keuze" value="ijs">
        <input type="radio" name="keuze" value="wafel">

        <p>Smaak:</p>
        <input type="radio" name="smaak" value="vanille">
        <input type="radio" name="smaak" value="aardbij">
        <input type="radio" name="smaak" value="pistache">

        <p>Topping:</p>
        <input type="radio" name="topping" value="slagroom">
        <input type="radio" name="topping" value="suiker">
        <input type="radio" name="topping" value="ijs">

        <input type="submit" value="Submit">
    </form>
</div>
