<div class="icecream">
    <form action="">
        <h3>Keuze:</h3>
        <p>Ijs: <input type="radio" name="keuze" value="ijs"></p>
        <p>Wafel: <input type="radio" name="keuze" value="wafel"></p>
        </br>
        <h3>Smaak:</h3>
        <p>Vanille: <input type="radio" name="smaak" value="vanille"></p>
        <p>Aardbij: <input type="radio" name="smaak" value="aardbij"></p>
        <p>Pistache: <input type="radio" name="smaak" value="pistache"></p>
        <p>Chocolade: <input type="radio" name="smaak" value="chocolade"></p>
        </br>
        <h3>Topping:</h3>
        <p>Slagroom: <input type="checkbox" name="topping" value="slagroom"></p>
        <p>Suiker: <input type="checkbox" name="topping" value="suiker"></p>
        </br>
        <input type="submit" value="Submit">
    </form>
</div>
